<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lost and Found"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostFoundApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2Y3wDThNC3loAHF7Q2X_kOJxIHMsp4ao" />

        <activity
            android:name=".MapsActivity"
            android:exported="false" />

        <activity
            android:name=".ItemDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ShowItemsActivity"
            android:exported="false" />

        <activity
            android:name=".CreateAdvertActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>